################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Neural Network/obj
/Neural Network/bin/Debug
/Dark Seer/obj/Debug
